<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd   
	http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd   
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

	<context:component-scan base-package="com.varicom.shadow.aop.*" />
	<!-- 注解配置时 -->
	<!-- 	<bean id="myAspect" class="com.varicom.shadow.aop.aspect.AuditAspect" factory-method="aspectOf" /> -->
	<!-- xml配置时 -->
<!-- 	<bean id="aopAspect" class="com.varicom.shadow.aop.aspect.AuditAspect"/> -->

<!--     <aop:config>   -->
<!--         <aop:aspect id="loggerAspect" ref="aopAspect">   -->
<!--             <aop:pointcut id="traceTargets"   expression="execution(* com.varicom.shadow.aop.demo.controller..*(..))" />  -->
<!--             <aop:pointcut id="traceTrans"   expression="execution(private * com.varicom.api.core.DefaultVaricomClient._do*(..))" />  -->
<!--             <aop:before pointcut-ref="traceTargets" method="beforeTraceTargets"/>   -->
<!--             <aop:after pointcut-ref="traceTargets" method="afterTraceTargets"/>   -->
<!-- 			<aop:before pointcut-ref="traceTrans" method="beforeTraceTrans"/>  -->
<!--         </aop:aspect>   -->
<!--     </aop:config>  -->


</beans>